* {
user-select: none;
outline: none;
border: none;
font-family: 'Dosis', sans-serif;
}

body,
html {
  height: 100%;
  background: #e6c843fa;
}

h1, h4{
  margin: 0px;
  text-align: center;
}

#calculator {
  width: 374px;
  height: auto;
  border-radius: 12px;
  margin: 30px auto;
  padding: 5px 10px 10px;
  background: white;
}

.output {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: space-around;
  color: black;
  font-size: 40px;
  text-align: right;
  padding: 20px 10px;
  background: #B0BEC5;
  width: auto;
  height: 80px;
  margin: 10px 10px 10px 10px;
  border-radius: 3px;
  word-wrap: break-word;
  word-break: break-all;
}



.row {
  display:flex;
  flex-direction: row;
  justify-content: center;
}


/*BUTTONS*/

.btn {
  background-color: #0a8fd1;
  border-radius: 5px;
  font-size: 40px;
  font-family: "Dosis";
  color: #fff;
  margin: 5px 2px 5px 3px;
  width: 80px;
  height: 80px;
  -webkit-transition: 0.05s;
  -moz-transition: 0.05s;
  transition: 0.05s;
  cursor: pointer;
  box-shadow: 0 4px #455A64;
  
}

.btn:hover {
  background-color: #369;
  color: #fff;
}

.btn:active {
  box-shadow: none;
}

.operatorBtn {
  box-shadow: 0 4px #A1887F;
  background-color: #FFA726;
}

.operatorBtn:hover {
  background-color: #ab3c3c;
	box-shadow: 0 4px #cb4e4e;
}

.operatorBtn:active {
	box-shadow: none;
}

.delBtn {
  box-shadow: 0 4px #ab3c3c;
  background-color: #cb4e4e;
}

.delBtn:hover {
  background-color: black;
  box-shadow: 0 4px black;
}

.delBtn:active {
  box-shadow: none;
}

.clearBtn {
  border-radius: 100px;
  box-shadow: 0 4px #ab3c3c;
  background: #cb4e4e;
  color: #fff;
  width: 45%
}

.clearBtn:hover {
  background-color: black;
  box-shadow: 0 4px black;
}

.clearBtn:active {
	box-shadow: none;
}

.equalsBtn {
  box-shadow: 0 4px #1a475c;
  background-color: #369;
  width: 45%;
}

.equalsBtn:hover {
  background-color: #FFA726;
	box-shadow: 0 4px #A1887F;
}

.equalsBtn:active {
	box-shadow: none;
}

